.round {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: flex-start;
  align-content: flex-start;
  width: 100%;
  height: 100%;
  padding: 15px;
}
.round__top,
.round__bottom {
  flex: 1 1 300px;
  max-height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
}
.topic {
  padding: 0 0 2rem 0;
}
.topic__subject {
  font: normal normal 800 2rem/1 "Exo 2";
}
.topic__points {
  float: right;
  color: #808080;
  padding: 0 20px 0 0;
}
.players {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: flex-start;
  align-content: flex-start;
}
.players__item {
  flex: 0 0 auto;
}
.player {
  padding: 1rem 0.5rem;
}
.player__info {
  margin: 0 0 1.5rem 0;
}
.player__info::before {
  font: normal normal normal 100%/1 FontAwesome;
  font-size: inherit;
  display: inline;
  padding: 0 0.5rem 0 0;
}
.player__info_simple::before {
  content: "\f007";
  color: #fff;
}
.player__info_master::before {
  content: "\f007";
  color: #f00;
}
