/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers:
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* app css stylesheet */
body{
    background:
            linear-gradient(27deg, #151515 5px, transparent 5px) 0 5px,
            linear-gradient(207deg, #151515 5px, transparent 5px) 10px 0,
            linear-gradient(27deg, #222 5px, transparent 5px) 0 10px,
            linear-gradient(207deg, #222 5px, transparent 5px) 10px 5px,
            linear-gradient(90deg, #1b1b1b 10px, transparent 10px),
            linear-gradient(#1d1d1d 25%, #1a1a1a 25%, #1a1a1a 50%, transparent 50%, transparent 75%, #242424 75%, #242424);
    background-color: #131313;
    background-size: 20px 20px;
    color:white;
}
html,body {
    font-size:12pt;
    height:100%;
    width:100%;
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Exo 2';
}

body * {
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body a{
    color: #E2A14F;
    text-decoration: none;
}
body a:hover {
    text-shadow: #FFC800 0px 0px 4px;
}
[ng-view]{
  height:100%;
  width:100%;
}

.form {
  display:flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: stretch;
  align-content: stretch;
  width: 100%;
  height:100%;
}
.form-group {
  flex:0 0 auto;
  display:flex;
  flex-flow:row wrap;
  justify-content:center;
  align-items: center;
  align-content: stretch;
  margin:1.6rem 0.5rem;
  width:auto;
}
.form-group.right:before {
  flex:1 1 0;
  content:"";
  display:block;
  min-width: 12rem;

}
.form-group__col{
  flex:1 1 0;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: stretch;
  min-width: 12rem;
}
.form-group__col.right{
  align-items: flex-end;
}
.form-label {
  padding: 0 0.5rem 0.5em 0;
}
.form-input {
  font-size: 1.2rem;
  background-color: black;
  background-image: linear-gradient(to bottom, black 0%,#1D1D1D 66%);
  border: 1px solid #4E4848;
  color: #9CA088;
  padding: 0.5rem 1.5rem;
  border-radius: 5px;
  width: 100%;
  max-width: 20rem;
}
.form-button {
	-moz-box-shadow:inset 0px 1px 0px 0px #a6827e;
	-webkit-box-shadow:inset 0px 1px 0px 0px #a6827e;
	box-shadow:inset 0px 1px 0px 0px #a6827e;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #7d5d3b), color-stop(1, #634b30));
	background:-moz-linear-gradient(top, #7d5d3b 5%, #634b30 100%);
	background:-webkit-linear-gradient(top, #7d5d3b 5%, #634b30 100%);
	background:-o-linear-gradient(top, #7d5d3b 5%, #634b30 100%);
	background:-ms-linear-gradient(top, #7d5d3b 5%, #634b30 100%);
	background:linear-gradient(to bottom, #7d5d3b 5%, #634b30 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#7d5d3b', endColorstr='#634b30',GradientType=0);
	background-color:#7d5d3b;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
	border:1px solid #54381e;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	padding: 0.5rem 1.5rem;
	text-decoration:none;
  font-size: 1.2rem;
	text-shadow:0px 1px 0px #4d3534;
}
.form-button:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #634b30), color-stop(1, #7d5d3b));
	background:-moz-linear-gradient(top, #634b30 5%, #7d5d3b 100%);
	background:-webkit-linear-gradient(top, #634b30 5%, #7d5d3b 100%);
	background:-o-linear-gradient(top, #634b30 5%, #7d5d3b 100%);
	background:-ms-linear-gradient(top, #634b30 5%, #7d5d3b 100%);
	background:linear-gradient(to bottom, #634b30 5%, #7d5d3b 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#634b30', endColorstr='#7d5d3b',GradientType=0);
	background-color:#634b30;
}
.form-button:active {
	position:relative;
	top:1px;
}

.success>.form-input,.success.form-input {
  box-shadow: #1E901E 0 0 4px 1px;
}
.error>.form-input,.error.form-input {
  box-shadow: #BB1E1E 0 0 4px 1px;
}

.form-button>i {
  margin-left:-1rem;
}

.shutter__message {
    color:white;
}
.shutter__message_error{
    color:#E44141;
}
.shutter__message_error:before {
    margin-right: 0.5em;
    border-radius: 4px;
    content:'err:';
    display:inline;
    background-color:#E44141;
    color:black;
}

.players-info {
    background-color: black;
    border-radius: 5px;
    flex: 0 0 100%;
    display:flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    align-content: stretch;
}

.players-header {
    background-color: black;
    border-radius: 5px;
    color: #E2A14F;
    flex: 0 1 auto;
}
.players-list {
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
    flex: 1 1 100px;
    overflow-y: hidden;
    overflow-x: auto;
    list-style-type: none;
}
.player {
    flex:0 0 auto;
    margin: 0 5px;
}
.player::before{
    content: "\f183";
    display:inline;
    font-family: FontAwesome;
    padding-right: 1.2em;
}
.master{
    color:red;
}

/*ROUND SCREEN*/

.card {
    flex: 0 0 96px;
    border: 1px solid #440A2F;
    transform: rotateY(0deg);
    background-color: black;
    position: relative;
    transform-style: preserve-3d;
    height: 128px;
    backface-visibility: visible;
}
.card:before {
    content:"";
    /*position: absolute;*/
    /*top:0;*/
    /*left:0;*/
    height: 100%;
    width: 100%;
    display: block;
    background-image: radial-gradient(ellipse at 50%,black 41%,#2F0C2F 100%);
}
.card__front {
    position: absolute;
    top:0;
    left:0;
    height: 100%;
    width: 100%;
    font-size: 27pt;
    text-align: center;
    color: white;
    font-weight: 900;
    line-height: 128px;
    transform: translateZ(-2px) rotateY(180deg);
    backface-visibility: hidden;
    visibility: hidden;
    text-shadow: -2px -3px 13px #D221AC;
}
.card.open {
    transform: rotateY(180deg);
    transition: transform 1s ease-out;
}
.card.open .card__front {
    visibility: visible;
}

@media screen and (max-width:400px) {
  .form-group__col,.form-group__col.right{
    align-items: center;
  }

  .form-group.right:before {
    display:none;
  }

}
