/* app css stylesheet */
body{
    background:
            linear-gradient(27deg, #151515 5px, transparent 5px) 0 5px,
            linear-gradient(207deg, #151515 5px, transparent 5px) 10px 0,
            linear-gradient(27deg, #222 5px, transparent 5px) 0 10px,
            linear-gradient(207deg, #222 5px, transparent 5px) 10px 5px,
            linear-gradient(90deg, #1b1b1b 10px, transparent 10px),
            linear-gradient(#1d1d1d 25%, #1a1a1a 25%, #1a1a1a 50%, transparent 50%, transparent 75%, #242424 75%, #242424);
    background-color: #131313;
    background-size: 20px 20px;

}
html,body {
    font-size:2vw;
}

.load {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    display: table;
    vertical-align: middle;
    text-align: center;
    position: absolute;
    background-color: #000;
    background-image: radial-gradient(50% 50%, #2e1e1e 0%,#000 100%);
    top: 0;
    left: 0;
    opacity: 0.85;
}
.load__block {
    margin: 0 auto;
    display:table-cell;
    vertical-align: middle;
    text-align: center;
}
.load__text {
    position: relative;
    font: 800 2rem/1 arial;
    border: 1px solid #611F1F;
    border-radius: 5px;
    color: #881818;
    padding: .2ex 1.2em 0.2ex 0.5ex;
    box-shadow: 0 0 49px 2px #C34747;
    background-color: #000;
    opacity: 0.8;
    animation-duration: 1200ms;
    animation-iteration-count: infinite;
    animation-name: hbeat;
}
.load__text:after {
    animation-duration: 1200ms;
    animation-iteration-count: infinite;
    animation-name: hbeat_after;
    animation-timing-function: linear;
    display: inline-block;
    width: 1.2em;
    content: ".";
    position: absolute;
    right: 0;
    text-align: left;

}
@keyframes hbeat {
    0% {
        box-shadow: 0 0 49px 2px #C34747;

    }
    50% {
        box-shadow: 0 0 30px 2px #C34747;

    }
    100% {
        box-shadow: 0 0 49px 2px #C34747;

    }
}

@keyframes hbeat_after {
    0% {
        content:'.'

    }
    33% {
        content:'..'

    }
    66% {
        content:'...'

    }
    100% {
        content:'....'

    }
}