.form {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: stretch;
  align-content: stretch;
  width: 100%;
  height: 100%;
}
.group {
  flex: 0 0 auto;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  align-content: flex-start;
  margin: 1.6rem 0.5rem;
  width: auto;
}
.group__error {
  flex: 0 1 auto;
}
@media screen and (min-width: 400px) {
  .group_left-empty:before {
    flex: 1 1 0;
    content: "";
    display: block;
    min-width: 12rem;
  }
}
.group__right,
.group__left {
  flex: 1 1 0;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: stretch;
  min-width: 12rem;
}
.group__label {
  padding: 0 0.5rem 0.5em 0;
}
.group__left {
  align-items: flex-end;
}
@media screen and (max-width: 400px) {
  .group__right,
  .group_left,
  .group__left {
    align-items: center;
  }
}
.group__input {
  font-size: 1.2rem;
  background-color: #000;
  background-image: linear-gradient(to bottom, #000 0%, #1d1d1d 66%);
  border: 1px solid #4e4848;
  color: #9ca088;
  padding: 0.5rem 1.5rem;
  border-radius: 5px;
  width: 100%;
  max-width: 20rem;
}
.success>.group__input,
.success.group__input {
  box-shadow: #1e901e 0 0 4px 1px;
}
.error>.group__input,
.error.group__input {
  box-shadow: #bb1e1e 0 0 4px 1px;
}
.group__button {
  box-shadow: inset 0px 1px 0px 0px #a6827e;
  background: linear-gradient(to bottom, #7d5d3b 5%, #634b30 100%);
  background-color: #7d5d3b;
  border-radius: 3px;
  border: 1px solid #54381e;
  display: inline-block;
  cursor: pointer;
  color: #fff;
  padding: 0.5rem 1.5rem;
  text-decoration: none;
  font-size: 1.2rem;
  text-shadow: 0px 1px 0px #4d3534;
}
.group__button:disabled {
  box-shadow: inset 0px 1px 0px 0px #524442;
  background: none;
  background-color: #52412f;
  color: #2d221a;
  cursor: not-allowed;
}
.group__button >i {
  margin-left: -1rem;
}
.group__button:active:enabled {
  position: relative;
  top: 1px;
}
.group__button:hover:enabled {
  background: linear-gradient(to bottom, #634b30 5%, #7d5d3b 100%);
  background-color: #634b30;
}
.error {
  color: #f00;
  text-align: center;
}
.error__message {
  font-weight: 600;
}
